{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class = "container-fluid">
        <div class="row justify-content-center">
            <h1>{{ chatroom.name }} [{{ chatroom.token }}]</h1>
        </div>
        <!-- Checks if the user is the host of the chatroom b4 displaying update/delete btn -->
        {% if object.host == user %}
            <div class="row justify-content-center">
                <h5>
                    <a class="btn btn-info" href="{% url 'chat-chatroom-update' object.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'chat-chatroom-delete' object.id %}">Delete</a>
                </h5>
            </div>
        {% endif %}
        <div class = "row my-3 no-gutters">
            <div class ="col-lg-9">
                <div class="row-fluid border border-dark">
                    <div class ="scroll-area-1">
                        <div class="chat-area-1">
                            <div class="chat-area-2">
                                {% for message in chat_messages %}

                                <div> {{message.author}} at {{message.date}}</div>
                                <div>{{message.content}}</div>

                                {% endfor %}
                             </div>
                        </div>
                    </div>
                </div>
                <div class ="row-fluid border border-dark">
                    <div class = "send-message">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row" style="margin-top:20px">
                                <div class = "col-md-8">
                                    <!--Input for sending messages-->
                                    <div>
                                        {{ form.content }}
                                    </div>

                                </div>
                                <div class="col" style ="margin-right:25px">
                                    <!--Button to send message-->
                                    <button type="submit" value ="submit" class="btn btn-dark btn-block">Send <i class="far fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "col-lg-3 border border-dark">
                <div class="scroll-area-2">
                    <div class="chat-area-1">
                        <div class="chat-area-2">
                            <h1 style="text-align:center">User List <i class="fas fa-users"></i></h1>
                            <!--Users to be listed here-->
                            {% for user in chat_users %}
                                <div>
                                {% if user == chatroom.host %}
                                    [{{ user }}] ~~ Host
                                {% else %}
                                    {{ user }}
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
