{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
         <div class = "row justify-content-center">
             <h1>Create Chatroom <i class="far fa-comments"></i></h1>
         </div>
        <form method = "POST">
            {% csrf_token %}
            <div class = "row justify-content-center">
                <div class = "form-group">
                    {{ form.name }}
                </div>
            </div>
            <div class = "row justify-content-center" style="margin-bottom: 10px">
                <div class = "col"></div>
                <div class = "col">
                    {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                            <li class ="errorText">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-dark btn-block">Create Chatroom</button>
                </div>
                <div class = "col"></div>
            </div>
        </form>
    </div>
{% endblock %}