{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "row justify-content-center">
    <div class = "col">
    </div>
        <div class = "col" style="text-align:center">
        <h1 >Join chatroom! <i class="far fa-comments"></i></h1>
        </br>
        <p style="color:white">There is a 6-character token associated with every chatroom. Enter the token of the chatroom you would like to join.</p>
         <form method = "POST">
                {% csrf_token %}
                <div class = "row justify-content-center">
                    <div class = "form-group">
                        {{ form.token }}
                        <button type="submit" class="btn btn-dark btn-block">Join</button>
                    </div>
                </div>
         </form>
        </div>
    <div class = "col"></div>
    </div>
{% endblock %}