{% extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class= "container">
        <div class = "row justify-content-center">
            <h1>Login <i class="fas fa-sign-in-alt"></i></h1>
        </div>
            <form method = "POST">
                {% csrf_token %}
                <div class = "row justify-content-center">
                    <div class = "form-group">
                        {{ form.username }}
                    </div>
                </div>
                <div class = "row justify-content-center">
                    <div class = "form-group">
                        {{ form.password }}
                    </div>
                </div>
                <div class = "row justify-content-center" style="margin-bottom: 10px">
                    <div class = "col"></div>
                    <div class = "col">
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in form.non_field_errors %}
                                <li class ="errorText">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                    </div>
                    <div class = "col"></div>
                </div>
            </form>
            <div class = "row justify-content-center ">
                <div class = "col"></div>
                <div class = "col">
                    <form action = "{%  url 'chat-register' %}">
                        <button type="submit" class="btn btn-dark btn-block" >Need an account?</button>
                    </form>
                </div>
                <div class = "col"></div>
            </div>
    </div>

{% endblock %}
{% crispy form %}